
#email-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 2em;

}



/* form {
    display: flex;
    justify-content: space-around;
    text-align: center;
} 

#product-form {
    text-align: center;
}

input {
    text-align: center;
    font-size: 18x;

}  */