body {
    margin: .5em;
}

table {
    border: 2px, solid;

}

button:hover {
    background-color: #a43e89;
}

button {
    background-color: rgb(173, 182, 230);
}

form {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.product-form {
    text-align: center;
}

input {
    text-align: center;
    font-size: 18x;

}