.navbar-container {
    align-items: center;
    background-color: #EAEAEA;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: 300px;
    padding-left: .5%;
}

.logo {
    border-radius: 50%;

}

#navbar-items {
    display: flex;
    justify-content: space-evenly;
    padding-left: 2em;
}

.link-style {
    font-size: 1.9rem;
    margin: 75px;
}