.navbar-container {
    align-items: center;
    background-color: #EAEAEA;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar-items {
    display: flex; 
}