/* Products */
.products-container {
    /* gap: 1em;
    /* width: max-content; */
    /* display: flex;
    flex-wrap: wrap-reverse; */
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

.product {
    background: #b0c3c5;
    border: 1px solid #475758;
    border-radius: 5px;
    padding: 1em;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.product img {
    /* border: 1px solid #475758; */
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin-right: 2%;
}

.product .desc {
    font-weight: .5em;
    font-family: 'Times New Roman', Times, serif;
}

.product a.title {
    color: #000000;
    display: block;
    font-size: 1.4em;
    margin-bottom: 5px;
    text-decoration: none;
}

.product a.title:hover {
    font-weight: bold;
}

.product .price {
    font-size: 1.6em;
    margin-bottom: 5px;
}

.cart-button {
    float: right;
}