/* Products */
.products-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.product {
    background: #b0c3c5;
    border: 1px solid #475758;
    border-radius: 5px;
    padding: 1em;
}

.product img {
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin-right: 2%;
}


.product .title .name {
    font-size: 2.9em;
    font-weight: bold;

}

.product a.title {
    color: #000000;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

.product a.title:hover {
    font-weight: bold;
}

.product .desc {
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

.product .price {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.cart-button {
    float: right;
}