.register-button {
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: black;
  }


.auth-form-container{
    margin: 50px auto;
    width: 640px;
    flex-direction: column;
    justify-content: center;
    background-color: #5ebaf8;
    border-radius: 30%;

}


.register {
justify-content: center;
margin: 0 auto;
padding: 40px 40px 40px;
width: 310px;
flex-direction: column;

}

.register p.submit {
    text-align: center;
}

.register-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

.register-help a:hover {
    text-decoration: none;
}

.register-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font: 13px;
}